<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>FeeSys</display-name>
	<!-- 加载log4j配置文件 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:config/log4j.properties</param-value>
	</context-param>
	<!--log4jRefreshInterval为100000表示 开一条watchdog线程每10秒扫描一下配置文件的变化; -->
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>100000</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:config/spring-*.xml</param-value>
	</context-param>

	<!-- shiro过滤器定义 -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<!-- 该值缺省为false,表示生命周期由SpringApplicationContext管理,设置为true则表示由ServletContainer管理 -->
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 1. 动态的改变记录级别和策略，不需要重启Web应用; 2. 把log文件定在 /WEB-INF/logs/ 而不需要写绝对路径。 -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextCleanupListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 		<init-param>
              <param-name>contextConfigLocation</param-name>
           <!--   指定spring mvc 配置文件的路径 默认为 /WEB-INF/<[servlet-name]-servlet.xml> 例如此处为/WEB-INF/spring-servlet.xml
                   下面配置的也就是默认值-->
              <param-value>classpath*:config/spring-mvc.xml</param-value>
         </init-param>
         <!-- 配置随服务器启动自动初始化 -->
         <load-on-startup>1</load-on-startup>
	</servlet>
	<!-- ========商品管理======== -->
	<servlet>
		<servlet-name>shopList</servlet-name>
		<jsp-file>/WEB-INF/pages/commodity/shopList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>shopRecharge</servlet-name>
		<jsp-file>/WEB-INF/pages/shopRecharge.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>shopActivity</servlet-name>
		<jsp-file>/WEB-INF/pages/shopActivity.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>shopRule</servlet-name>
		<jsp-file>/WEB-INF/pages/shopRule.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>deliveryOrder</servlet-name>
		<jsp-file>/WEB-INF/pages/commodity/deliveryOrder.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>denominationSetting</servlet-name>
		<jsp-file>/WEB-INF/pages/commodity/denominationSetting.jsp</jsp-file>
	</servlet>
	<!-- ========订单管理======== -->
	<servlet>
		<servlet-name>ConfirmationPurchaseOrder</servlet-name>
		<jsp-file>/WEB-INF/pages/purchaseOrder/ConfirmationPurchaseOrder.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>pendingPurchaseOrder</servlet-name>
		<jsp-file>/WEB-INF/pages/purchaseOrder/pendingPurchaseOrder.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>orderMoneyApply</servlet-name>
		<jsp-file>/WEB-INF/pages/purchaseOrder/orderMoneyApply.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>purchaseOrderDelivery</servlet-name>
		<jsp-file>/WEB-INF/pages/purchaseOrder/purchaseOrderDelivery.jsp</jsp-file>
	</servlet>
		<servlet>
		<servlet-name>orderPurchaseApply</servlet-name>
		<jsp-file>/WEB-INF/pages/purchaseOrder/orderPurchaseApply.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>orderHisPurDetails</servlet-name>
		<jsp-file>/WEB-INF/pages/orderHisPurDetails.jsp</jsp-file>
	</servlet>
		<servlet>
		<servlet-name>orderMyPurchase</servlet-name>
		<jsp-file>/WEB-INF/pages/orderMyPurchase.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>orderList</servlet-name>
		<jsp-file>/WEB-INF/pages/orderList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>orderOutLibrary</servlet-name>
		<jsp-file>/WEB-INF/pages/orderOutLibrary.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>orderReturns</servlet-name>
		<jsp-file>/WEB-INF/pages/orderReturns.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>orderCancel</servlet-name>
		<jsp-file>/WEB-INF/pages/orderCancel.jsp</jsp-file>
	</servlet>
	<!-- <servlet>
		<servlet-name>orderDealerPurchase</servlet-name>
		<jsp-file>/WEB-INF/pages/orderDealerPurchase.jsp</jsp-file>
	</servlet> -->
	<servlet>
		<servlet-name>orderDealerReview</servlet-name>
		<jsp-file>/WEB-INF/pages/orderDealerReview.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>orderFaultReporting</servlet-name>
		<jsp-file>/WEB-INF/pages/fault/orderFaultReporting.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>orderRefundManagement</servlet-name>
		<jsp-file>/WEB-INF/pages/orderRefundManagement.jsp</jsp-file>
	</servlet>
	<!-- ========卡片管理======== -->
	<servlet>
		<servlet-name>cardDeviceInfo</servlet-name>
		<jsp-file>/WEB-INF/pages/card/cardDeviceInfo.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>packageList</servlet-name>
		<jsp-file>/WEB-INF/pages/packge_rebate/packageList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>packageList</servlet-name>
		<jsp-file>/WEB-INF/pages/packge_rebate/packageList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>packagePutaway</servlet-name>
		<jsp-file>/WEB-INF/pages/packge_rebate/packagePutaway.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>packageGroup</servlet-name>
		<jsp-file>/WEB-INF/pages/packageGroup.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>chargePayment</servlet-name>
		<jsp-file>/WEB-INF/pages/commodity/chargePayment.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>dealerPayment</servlet-name>
		<jsp-file>/WEB-INF/pages/card/dealerPayment.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ruleSetting</servlet-name>
		<jsp-file>/WEB-INF/pages/ruleSetting.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>flowTransform</servlet-name>
		<jsp-file>/WEB-INF/pages/card/flowTransform.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>reissueApply</servlet-name>
		<jsp-file>/WEB-INF/pages/card/reissueApply.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>prepareCancellation</servlet-name>
		<jsp-file>/WEB-INF/pages/card/prepareCancellation.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>changeAudit</servlet-name>
		<jsp-file>/WEB-INF/pages/card/changeAudit.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>dealerChangeAudit</servlet-name>
		<jsp-file>/WEB-INF/pages/card/dealerChangeAudit.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>cancellationRule</servlet-name>
		<jsp-file>/WEB-INF/pages/card/cancellationRule.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>flowRefund</servlet-name>
		<jsp-file>/WEB-INF/pages/card/flowRefund.jsp</jsp-file>
	</servlet>
	<!-- ========实名认证======== -->
	<servlet>
		<servlet-name>userInfo</servlet-name>
		<jsp-file>/WEB-INF/pages/userInfo.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>cardAuthentication</servlet-name>
		<jsp-file>/WEB-INF/pages/cardAuthentication.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>deviceAuthentication</servlet-name>
		<jsp-file>/WEB-INF/pages/deviceAuthentication.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>authenticationAudit</servlet-name>
		<jsp-file>/WEB-INF/pages/authenticationAudit.jsp</jsp-file>
	</servlet>
	<!-- ========库存管理======== -->
	<servlet>
		<servlet-name>cardInventoryList</servlet-name>
		<jsp-file>/WEB-INF/pages/repertory/cardInventoryList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>deviceInventoryList</servlet-name>
		<jsp-file>/WEB-INF/pages/repertory/deviceInventoryList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>integratedMachineList</servlet-name>
		<jsp-file>/WEB-INF/pages/repertory/integratedMachineList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>equipmentSetting</servlet-name>
		<jsp-file>/WEB-INF/pages/repertory/equipmentSetting.jsp</jsp-file>
	</servlet>
	<!-- ========分销管理======== -->
	<servlet>
		<servlet-name>distributionUserWDet</servlet-name>
		<jsp-file>/WEB-INF/pages/distributionUserWDet.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>distributionUserWApply</servlet-name>
		<jsp-file>/WEB-INF/pages/distributionUserWApply.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>distributionSet</servlet-name>
		<jsp-file>/WEB-INF/pages/distribution/distributionSet.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>distributionDet</servlet-name>
		<jsp-file>/WEB-INF/pages/distributionDet.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>distributionWApply</servlet-name>
		<jsp-file>/WEB-INF/pages/distributionWApply.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>abcdistribution</servlet-name>
		<jsp-file>/WEB-INF/pages/distribution/abcdistribution.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>dealerCreate</servlet-name>
		<jsp-file>/WEB-INF/pages/distribution/dealerCreate.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>dealerApply</servlet-name>
		<jsp-file>/WEB-INF/pages/distribution/dealerApply.jsp</jsp-file>
	</servlet>
	
	<!-- 用户中心 -->
	<servlet>
		<servlet-name>userManage</servlet-name>
		<jsp-file>/WEB-INF/pages/userCenter/userManage.jsp</jsp-file>
	</servlet>
	<!-- 财务管理 -->
	<servlet>
		<servlet-name>preInventoryAudit</servlet-name>
		<jsp-file>/WEB-INF/pages/finance/preInventoryAudit.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>shareProfits</servlet-name>
		<jsp-file>/WEB-INF/pages/finance/shareProfits.jsp</jsp-file>
	</servlet>
	<!-- ========经销商管理======= -->
	<servlet>
		<servlet-name>dealerFile</servlet-name>
		<jsp-file>/WEB-INF/pages/dealer/dealerFile.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>dealerCardInventoryList</servlet-name>
		<jsp-file>/WEB-INF/pages/dealerCardInventoryList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>dealerDeviceInventoryList</servlet-name>
		<jsp-file>/WEB-INF/pages/dealerDeviceInventoryList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>dealerCard</servlet-name>
		<jsp-file>/WEB-INF/pages/dealerCard.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>storedFunds</servlet-name>
		<jsp-file>/WEB-INF/pages/storedFunds.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>storedDetails</servlet-name>
		<jsp-file>/WEB-INF/pages/storedDetails.jsp</jsp-file>
	</servlet>
	<!-- ========返佣管理======= -->
	<servlet>
		<servlet-name>rebateRules</servlet-name>
		<jsp-file>/WEB-INF/pages/rebateRules/rebateRules.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>rebateRulesSet</servlet-name>
		<jsp-file>/WEB-INF/pages/rebateRules/rebateRulesSet.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>rebateDetails</servlet-name>
		<jsp-file>/WEB-INF/pages/finance/rebateDetails.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>rebateWApply</servlet-name>
		<jsp-file>/WEB-INF/pages/rebateWApply.jsp</jsp-file>
	</servlet>
	<!-- ========权限管理======= -->
	<servlet>
		<servlet-name>employeeAccountAllocation</servlet-name>
		<jsp-file>/WEB-INF/pages/employeeAccountAllocation.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>dealerAccount</servlet-name>
		<jsp-file>/WEB-INF/pages/dealer/dealerAccount.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>dealerAuthority</servlet-name>
		<jsp-file>/WEB-INF/pages/dealerAuthority.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>W3</servlet-name>
		<display-name>W3</display-name>
		<description></description>
		<servlet-class>com.hw.util.zgdx.W3</servlet-class>
	</servlet>
	<!-- ============================ -->
	<!-- =============分割线=============== -->
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- ========商品管理mapping======== -->
	<servlet-mapping>
		<servlet-name>shopRecharge</servlet-name>
		<url-pattern>/shopRecharge</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shopActivity</servlet-name>
		<url-pattern>/shopActivity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shopRule</servlet-name>
		<url-pattern>/shopRule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shopList</servlet-name>
		<url-pattern>/shopList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deliveryOrder</servlet-name>
		<url-pattern>/deliveryOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>denominationSetting</servlet-name>
		<url-pattern>/denominationSetting</url-pattern>
	</servlet-mapping>
	<!-- ========订单管理mapping======== -->
	<servlet-mapping>
		<servlet-name>orderHisPurDetails</servlet-name>
		<url-pattern>/orderHisPurDetails</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>orderPurchaseApply</servlet-name>
		<url-pattern>/orderPurchaseApply</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>orderMyPurchase</servlet-name>
		<url-pattern>/orderMyPurchase</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>orderMoneyApply</servlet-name>
		<url-pattern>/orderMoneyApply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderList</servlet-name>
		<url-pattern>/orderList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderOutLibrary</servlet-name>
		<url-pattern>/orderOutLibrary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderReturns</servlet-name>
		<url-pattern>/orderReturns</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderCancel</servlet-name>
		<url-pattern>/orderCancel</url-pattern>
	</servlet-mapping>
	 <servlet-mapping>
		<servlet-name>purchaseOrderDelivery</servlet-name>
		<url-pattern>/purchaseOrderDelivery</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>orderDealerReview</servlet-name>
		<url-pattern>/orderDealerReview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderFaultReporting</servlet-name>
		<url-pattern>/orderFaultReporting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderRefundManagement</servlet-name>
		<url-pattern>/orderRefundManagement</url-pattern>
	</servlet-mapping>
	<!-- ========卡片管理mapping======== -->
	<servlet-mapping>
		<servlet-name>cardDeviceInfo</servlet-name>
		<url-pattern>/cardDeviceInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>packageList</servlet-name>
		<url-pattern>/packageList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>packagePutaway</servlet-name>
		<url-pattern>/packagePutaway</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>packageGroup</servlet-name>
		<url-pattern>/packageGroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chargePayment</servlet-name>
		<url-pattern>/chargePayment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dealerPayment</servlet-name>
		<url-pattern>/dealerPayment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ruleSetting</servlet-name>
		<url-pattern>/ruleSetting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flowTransform</servlet-name>
		<url-pattern>/flowTransform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reissueApply</servlet-name>
		<url-pattern>/reissueApply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>prepareCancellation</servlet-name>
		<url-pattern>/prepareCancellation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changeAudit</servlet-name>
		<url-pattern>/changeAudit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dealerChangeAudit</servlet-name>
		<url-pattern>/dealerChangeAudit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cancellationRule</servlet-name>
		<url-pattern>/cancellationRule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flowRefund</servlet-name>
		<url-pattern>/flowRefund</url-pattern>
	</servlet-mapping>
		<!-- ========实名认证mapping======== -->
	<servlet-mapping>
		<servlet-name>userInfo</servlet-name>
		<url-pattern>/userInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cardAuthentication</servlet-name>
		<url-pattern>/cardAuthentication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deviceAuthentication</servlet-name>
		<url-pattern>/deviceAuthentication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authenticationAudit</servlet-name>
		<url-pattern>/authenticationAudit</url-pattern>
	</servlet-mapping>	
	
	<!-- 用户中心mapping -->
	<servlet-mapping>
		<servlet-name>userManage</servlet-name>
		<url-pattern>/userManage</url-pattern>
	</servlet-mapping>
	<!-- 财务管理mapping -->
	<servlet-mapping>
		<servlet-name>preInventoryAudit</servlet-name>
		<url-pattern>/preInventoryAudit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shareProfits</servlet-name>
		<url-pattern>/shareProfits</url-pattern>
	</servlet-mapping>
	<!-- ========库存管理mapping======== -->
	<servlet-mapping>
		<servlet-name>ConfirmationPurchaseOrder</servlet-name>
		<url-pattern>/ConfirmationPurchaseOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pendingPurchaseOrder</servlet-name>
		<url-pattern>/pendingPurchaseOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cardInventoryList</servlet-name>
		<url-pattern>/cardInventoryList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deviceInventoryList</servlet-name>
		<url-pattern>/deviceInventoryList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>integratedMachineList</servlet-name>
		<url-pattern>/integratedMachineList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>equipmentSetting</servlet-name>
		<url-pattern>/equipmentSetting</url-pattern>
	</servlet-mapping>
	<!-- ========分销管理mapping======== -->
	<servlet-mapping>
		<servlet-name>distributionUserWDet</servlet-name>
		<url-pattern>/distributionUserWDet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>distributionUserWApply</servlet-name>
		<url-pattern>/distributionUserWApply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>distributionSet</servlet-name>
		<url-pattern>/distributionSet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>distributionDet</servlet-name>
		<url-pattern>/distributionDet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>distributionWApply</servlet-name>
		<url-pattern>/distributionWApply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abcdistribution</servlet-name>
		<url-pattern>/abcdistribution</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dealerApply</servlet-name>
		<url-pattern>/dealerApply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dealerCreate</servlet-name>
		<url-pattern>/dealerCreate</url-pattern>
	</servlet-mapping>
	<!-- ========经销商管理mapping======= -->
	<servlet-mapping>
		<servlet-name>dealerFile</servlet-name>
		<url-pattern>/dealerFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dealerCardInventoryList</servlet-name>
		<url-pattern>/dealerCardInventoryList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dealerDeviceInventoryList</servlet-name>
		<url-pattern>/dealerDeviceInventoryList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dealerCard</servlet-name>
		<url-pattern>/dealerCard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>storedFunds</servlet-name>
		<url-pattern>/storedFunds</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>storedDetails</servlet-name>
		<url-pattern>/storedDetails</url-pattern>
	</servlet-mapping>
<!-- ========返佣管理mapping======= -->
	<servlet-mapping>
		<servlet-name>rebateRules</servlet-name>
		<url-pattern>/rebateRules</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rebateRulesSet</servlet-name>
		<url-pattern>/rebateRulesSet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rebateDetails</servlet-name>
		<url-pattern>/rebateDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rebateWApply</servlet-name>
		<url-pattern>/rebateWApply</url-pattern>
	</servlet-mapping>
	<!-- ========权限管理mapping======= -->
	<servlet-mapping>
		<servlet-name>employeeAccountAllocation</servlet-name>
		<url-pattern>/employeeAccountAllocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dealerAccount</servlet-name>
		<url-pattern>/dealerAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dealerAuthority</servlet-name>
		<url-pattern>/dealerAuthority</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>W3</servlet-name>
		<url-pattern>/W3</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>